<!DOCTYPE html>
<html>
  <head>
    <title>Travel App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Travel App</h1>
    
    <main>
      <h3>Welcome to the Traveler App! To continue, please Log In or Sign Up</h3>
        <a href="/auth/google">Login with Google</a>
    </main>

  </body>
</html>
