<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/welcome.css' />
  <title>Travel Track</title>
</head>
<body>
  <nav>
    <p>Welcome to Travel Track!</p>
  </nav>
  <main>
    <p>Record your previous trips.. </p>
    <p> .. and plan the next ones!</p>
    <a href="/auth/google">Login</a>
  </main>
</body>
</html>
