<!DOCTYPE html>
<html>
  <head>
    <title>Travel App</title>
    <link rel='stylesheet' href='/stylesheets/welcome.css' />
  </head>
  <body>
    <nav>
      <p>Welcome to Travel Track!</p>
    </nav>
    <main>
      <p>Record your previous trips and plan the next ones!</p>
      <a href="/auth/google">Login</a>
    </main>
  </body>
</html>
