<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/menu.css' />
    <title>Travel App</title>
</head>
<body>
    <nav>
        <p>Hi <%=traveler.name%></p>
        <a href="/logout">Log Out &#8594</a>
    </nav>
    <a href="/trips/index" id="previous-trips">Previous Trips</a>
    <a href="/trips/new" id="new-trip">New Trip</a>
    <a href="">Upcomimg Trips - Coming Soon!</a>
</body>
</html>
