body {
    height: 90vh;
    width: 98vw;
    margin: 3vh 1vw 10vh 1vw;
    font: 4vh 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

nav {
    display: flex;
    width: 100vw;
    height: 20vh;
    margin-bottom: 5vh;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

body > a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 24vh;
}

a {
    text-decoration: none;
    color: black;
}