body {
    height: 90vh;
    width: 100vw;
    padding-bottom: 10vh;
    font: 4vh 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #E4E7E3;
    color: #3A687E;
    margin: 0;
}

nav {
    display: flex;
    width: 90vw;
    height: 20vh;
    padding: 0 5vw;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #3A687E;
    color: #E4E7E3;
}

body > a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 15vh;
    width: 45vw;
    color: #3A687E;
}

a {
    text-decoration: none;
    color: #E4E7E3;
}

body > a:hover{
    border-radius: 5px;
    background-color: #3A687E;
    color: #E4E7E3;
}