body {
    height: 75vh;
    width: 100vw;
    padding-bottom: 25vh;
    font: 3vh 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #E4E7E3;
    color: #3A687E;
    margin: 0;
}

nav {
    display: flex;
    width: 90vw;
    height: 20vh;
    padding: 0 5vw;
    margin: 0 0 5vh 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #3A687E;
    color: #E4E7E3;
}

a {
    text-decoration: none;
    color: #3A687E;
    border-radius: 5px;
    padding: 5vh 15vw;;
}

a:hover {
    color: #E4E7E3;
    background-color: #3A687E;
}

main {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}