<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Travel App</title>
</head>
<body>
<h1><%= trip.tripName %></h1>
<h3>new activity</h3>
<a href="/trips/<%= trip._id %>">Back</a>

<form action="/tripdetails/activity/<%= trip._id %>" method="POST">
    <label>Name: </label>
    <input type="text" name="activityName">
    <label>City: </label>
    <input type="text" name="city">
    <label>Country: </label>
    <input type="text" name="country">
    <label>Average Cost: </label>
    <input type="number" name="cost">
    <label>Rating: </label>
    <input type="number" name="rating">
    <label>From: </label>
    <input type="date" name="startDate">
    <label>To: </label>
    <input type="date" name="endDate">
    <input type="submit" value="Submit">
</form>

</body>
</html>