<%- include('../../partials/header') %>
<h1><%= trip.tripName %></h1>
<h3>new activity</h3>
<form action="/tripdetails/activity/<%= trip._id %>" method="POST">
    <label>Name: </label>
    <input type="text" name="activityName">
    <label>City: </label>
    <input type="text" name="city">
    <label>Country: </label>
    <input type="text" name="country">
    <label>Average Cost: </label>
    <input type="number" name="cost">
    <label>Rating: </label>
    <input type="number" name="rating">
    <input type="submit" value="Submit">
</form>

</body>
</html>