<%- include('../../partials/header') %>

<h3>new food</h3>
<form action="/tripdetails/food/<%= trip._id %>" method="POST">
    <label>Name: </label>
    <input type="text" name="foodSpot">
    <label>City: </label>
    <input type="text" name="city">
    <label>Country: </label>
    <input type="text" name="country">
    <label>Average Cost: </label>
    <input type="number" name="cost">
    <label>Rating: </label>
    <input type="number" name="rating">
    <input type="submit" value="Submit">
</form>

</body>
</html>