<%- include('../partials/header') %>

<h1>List of previous Trips</h1>
<%traveler.previousTrips.forEach(function(trip) { %>
    <a href=""><%= trip.tripName %></a>
<% }) %>
<br>
<br>
<a href="/trips/menu">BACK</a>
</body>
</html>