<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/new.css' />
    <title>Travel Track</title>
</head>
<body>
    <nav>
        <p>New Trip</p>
        <a href="/trips/menu">Back &#8594</a>
    </nav>
    <form action="/trips" method="POST">
        <label>Trip Name</label>
        <input type="text" name="tripName" autocomplete="off">
        <input type="submit" value="Add Trip">
    </form>
</body>
</html>
